@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
/*Landing-Page*/
{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family:  'Poppins', sans-serif;
 scroll-behavior: smooth;
}
/*1st Section*/
.section
{
  border-left-width: 0px;
  border-left-style: solid;
  padding-left: 94px;
  padding:100px;
}
.banner
{
 position: relative;
 min-height: 100vh;
 background-size: cover;
 background-position: right;
 display: flex;
 justify-content: space-between;
 align-items: center;
 animation: backgroundChange 10s linear infinite;
}
/*Hello, Im Junain Sedick Reynecke*/
.banner h2
{
 font-size: 3em;
 color:rgba(230, 223, 223, 0.5);
 font-weight:500;
 line-height: 1.5em;
 padding-left: 98px;
 padding-top: 126px;
}
/*Junain Sedick Reynecke*/
.banner h2 span
{
 font-size: 1.5em;
 font-weight: 700;
 color: rgba(230, 223, 223, 0.5);
}    
/*Im a Junior Web Developer*/
.banner h3
{
 font-size: 1.5em;
 color:rgba(230, 223, 223, 0.5);
 font-weight: 650;
 padding-left: 97px;
 padding-top: 8px;
}
.banner .textBx .pngs
{
  margin-left: 50px;
}
/**/
header
{
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 40px 100px;
z-index: 1000;
display: flex;
justify-content: space-between;
align-items: center;
}
/*Nav Bar Background*/
header.sticky 
{
  background:rgb(255, 255, 255);
  padding: 40px 100px;
  box-shadow: 0 5px 20px rgba(0,0,0,0,1);
}
/*Portfolio logo*/
header .logo
{
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
}
/*Portfolio logo*/
header.sticky .logo
{
  color: black;
}
/*Home/About/Services/Work/Testimonials/Contact*/
header ul
{
  position: relative;
  display: flex;
}
/*Home/About/Services/Work/Testimonials/Contact*/
header ul li 
{
  position: relative;
  list-style: none;
  font-size: 20px;
}
/*Home/About/Services/Work/Testimonials/Contact*/
header ul li a
{
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color:white;
  text-decoration: none;
  font-weight: 700;
}
/*Home/About/Services/Work/Testimonials/Contact*/
header.sticky ul li a
{
  color: black;
}
.menu a:after
{
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content:"";
  display: block;
  height: 2px;
  left:50%;
  position: absolute;
  background: red;
  transition: width 0.6s ease 0s, left 0.6s ease 0s;
  width: 0;
}
.menu a:hover::after
{
  width:100%;
  left: 0;
}




/*ABOUT ME SECTION*/
.about{
  font-family: 'Poppins', sans-serif;
}
.about h2{
  font-size: 40px;
  color: #000000;
  margin-bottom: 10px;
  text-align: center;
}
.about .about-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
}
.about .about-content .left{
  width: 45%;
}
.about .about-content .left img{
  height: 400px;
  padding-left: 224px;
  object-fit: cover;
  border-radius: 6px;
}
.about .about-content .right{
  width: 55%;
  padding-right: 9%;
}
.about .about-content .right .text{
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .about-content .right .text span{
  color: crimson;
}
.about .about-content .right p{
  text-align: justify;
  font-size: 25px;
}
.about .about-content .right a{
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 35px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.about .about-content .right a:hover{
  color: crimson;
  background: none;
}




/*SERVICES SECTION*/
.services
{
  background: #111;
}
.heading .white
{
  color: #fff;
}
.heading h2
{
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 10px;
  text-align: center;
  padding-top: 34px;
}
.services .content
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 50px;
}
/*Web Design*/
.services .content .servicesBx1
{
  padding: 40px 20px;
  background: #222;
  color: #fff;
  max-width: 280px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
}
/*Web Development*/
.services .content .servicesBx2
{
  padding: 40px 20px;
  background: #222;
  color: #fff;
  max-width: 340px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
}
/*App Development*/
.services .content .servicesBx3
{
  padding: 40px 20px;
  background: #222;
  color: #fff;
  max-width: 340px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
}
/*Background color for Web Design*/
.services .content .servicesBx1:hover  
{
  background: #2196f3;
}
/*Background color for Web Development*/
.services .content .servicesBx2:hover  
{
  background: #f32121;
}
/*Background color for App Development*/
.services .content .servicesBx3:hover  
{
  background: #eeff00;
}
/*Images in Services section*/
.services .content .servicesBx img
{
  max-width: 80px;
  filter: invert(1);
}
/*Headings in Services section*/
.services .content .servicesBx h2
{
  font-size: 20px;
  font-weight: 600;
}




/* Work Section */
.work 
{
  background: rgb(0, 0, 0);
}
.work .heading h2
{
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 10px;
}
.work .content
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.work .content .workBx
{
  width: 50%;
  padding:20px;
}
.work .content .workBx span
{
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.work .content .workBx img
{
  max-width: 100%;
  padding-right: 81px;
  font-size: 20px;  
}
.work .content .workBx p
{
  text-align: left;
  padding-right: 9%;
  color: white;
}
hr
{
  margin-left: 20%;
  margin-right: 20%;
}




/* TESTIMONIAL SECTION */
.testimonials
{
  background: #ffffff;
}
.testimonials h2
{
  font-size: 40px;
  color: rgb(0, 0, 0);
  padding-top: 41px;
}
.testimonialBx h3
{
  color:white;
  font-size: 25px;
}
.testimonials p
{
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.testimonials .content
{
  display: flex;
  justify-content:space-between;
  flex-wrap:  wrap; 
  background-color: rgb(0, 0, 0); 
  
}
.testimonials .content .testimonialBx
{
  max-width: calc(50% - 40px);
  padding: 60px 40px;
  margin: 20px;
  background-color: darkgrey;
}



/* CONTACT PAGE */
.contact
{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(./Background/cont2.jpg); 
  background-size: cover;
}
.contact .content
{
  max-width: 800px;
  text-align: center;
}
.contact .content h2
{
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}
.contact .content p
{
  font-weight: 300;
  color: #fff;
}
.container
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.container.contactInfo
{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container .contactInfo .box
{
  position: relative;
  padding: 20px 0;
  display: flex;
}
.container .contactInfo .box .icon
{
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

COPYRIGHT SECTION
.copyright{
  background: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
  }

@keyframes backgroundChange {
  0% {
    background-image: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("Background/background3.jpg");
  }
  33% {
    background-image:linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5)),  url("Background/background1.jpg");
  }
  66% {
    background-image:linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5)),  url("Background/background2.jpg");
  }
  99% {
    background-image:linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5)),  url("Background/background4.jpg");
  }
}




/*Responsiveness*/
@media screen and (max-width: 740px)
{
  header,
  header.sticky
  {
    padding: 20px 50px;
    z-index: 1000;
  }
  .menu
  {
    position: fixed;
    top: 75px;
    left: -100%;
    display: block;
    padding: 100px 50px;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: 0.5s;
    z-index: 999;
    border-top: 1px solid rgba(0,0,0,0,2);
  }
  .menu.active
  {
    left: 0;
  }
  header ul li a
  {
    color: #111;
    font-size: 24px;
    margin:10px
  }
  .toggle
  {
    width: 40px;
    height: 40px;
    background: url(services/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
  }
  .toggle.active
  {
    background: url(services/close.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
  }
  header.sticky .toggle
  {
    filter: invert(1);
  }
  .section
  {
    padding: 100px 50px;
  }
  .banner
  {
    padding: 150px 50px 100px;
  }
  .banner h2
  {
    font-size: 1.5em;
  }
  .banner h3
  {
    font-size: 1em;
  }
}
@media only screen and (max-width: 1017px) {
  .w50 img {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
/*About section  */
@media (max-width: 947px){
  .about .about-content .column{
    width: 100%;
}
.about .about-content .left{
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
}
.about .about-content .right{
    flex: 100%;
}
  }

@media (max-width: 500px){
  .about .about-content{
    font-size: 19px;
}
}
@media (max-width: 500px){}